<div id="tlr_chargen_sheet" class="tab-pane fade">

<p>Select your character's attributes from one of the six sets of options below. If you have selected your character's culture for the first time or have just changed it, please refresh the page before proceeding.</p>
    <select onchange={{action (mut this.attributeString) value="target.value"}}>
      {{#each this.char.custom.attribute_options as |attributeoption|}}
        <option value={{attributeoption}} selected={{eq this.attributeString attributeoption}}>{{attributeoption}}</option>
      {{/each}}
    </select>

    <p>Select a combat proficiency to start at a rating of 2.</p>

    <select onchange={{action (mut this.firstCombatProficiencyString) value="target.value"}}>
      {{#each this.char.custom.weapon_proficiencies as |weaponproficiency|}}
        <option value={{weaponproficiency}} selected={{eq this.firstCombatProficiencyString weaponproficiency}}>{{weaponproficiency}}</option>
      {{/each}}
    </select>

    <p>Select a combat proficiency to start at a rating of 1 (please make sure it isn't the same as the first proficiency).</p>

    <select onchange={{action (mut this.secondCombatProficiencyString) value="target.value"}}>
      {{#each this.char.custom.second_weapon_proficiencies as |weaponproficiency|}}
        <option value={{weaponproficiency}} selected={{eq this.secondCombatProficiencyString weaponproficiency}}>{{weaponproficiency}}</option>
      {{/each}}
    </select>


    <p>Select a favoured skill, available based on your character's culture. If you want to update favoured skill choices later in character creation, please select all three favoured skills.</p>
    <select onchange={{action (mut this.culturalFavouredSkillString) value="target.value"}}>
      {{#each this.char.custom.cultural_favoured_skills_list as |favouredskill|}}
        <option value={{favouredskill}} selected={{eq this.culturalFavouredSkillString favouredskill}}>{{favouredskill}}</option>
      {{/each}}
    </select>

    <p>Select two favoured skills, available based on your character's calling.</p>
    <select onchange={{action (mut this.callingFavouredSkillFirstString) value="target.value"}}>
      {{#each this.char.custom.calling_favoured_skills_list as |favouredskill|}}
        <option value={{favouredskill}} selected={{eq this.callingFavouredSkillFirstString favouredskill}}>{{favouredskill}}</option>
      {{/each}}
    </select>

    <select onchange={{action (mut this.callingFavouredSkillSecondString) value="target.value"}}>
      {{#each this.char.custom.calling_favoured_skills_list as |favouredskill|}}
        <option value={{favouredskill}} selected={{eq this.callingFavouredSkillSecondString favouredskill}}>{{favouredskill}}</option>
      {{/each}}
    </select>


    <p>Select two distinctive features, available based on your character's culture.</p>
    <select onchange={{action (mut this.distinctiveFeatureFirstString) value="target.value"}}>
      {{#each this.char.custom.cultural_distinctive_features as |distinctivefeature|}}
        <option value={{distinctivefeature}} selected={{eq this.distinctiveFeatureFirstString distinctivefeature}}>{{distinctivefeature}}</option>
      {{/each}}
    </select>

    <select onchange={{action (mut this.distinctiveFeatureSecondString) value="target.value"}}>
      {{#each this.char.custom.cultural_distinctive_features as |distinctivefeature|}}
        <option value={{distinctivefeature}} selected={{eq this.distinctiveFeatureSecondString distinctivefeature}}>{{distinctivefeature}}</option>
      {{/each}}
    </select>




<p>This is a preview of your character sheet. You will need to refresh the page to see any changes reflected.</p>
<table>
    <tr>
        <th>Attributes</th>
        <td>{{{ansi-format text=this.char.custom.strength}}}</td>
        <td>{{{ansi-format text=this.char.custom.heart}}}</td>
        <td>{{{ansi-format text=this.char.custom.wits}}}</td>
    </tr>
    <tr>
        <th>Derived Statistics</th>
        <td>{{{ansi-format text=this.char.custom.endurance}}}</td>
        <td>{{{ansi-format text=this.char.custom.hope}}}</td>
        <td>{{{ansi-format text=this.char.custom.parry}}}</td>
    </tr>
    <tr>
        <th rowspan="6">Skills</th>
        <td>{{{ansi-format text=this.char.custom.awe}}}</td>
        <td>{{{ansi-format text=this.char.custom.enhearten}}}        </td>
        <td>{{{ansi-format text=this.char.custom.persuade}}}</td>
    </tr>
    
    <tr>
            <td>{{{ansi-format text=this.char.custom.athletics}}}</td>
            <td>{{{ansi-format text=this.char.custom.travel}}}</td>
            <td>{{{ansi-format text=this.char.custom.stealth}}}</td>
    </tr>
    
    <tr>
        <td>{{{ansi-format text=this.char.custom.awareness}}}</td>
        <td>{{{ansi-format text=this.char.custom.insight}}}</td>
        <td>{{{ansi-format text=this.char.custom.scan}}}</td>
        </tr>
        <tr>
            <td>{{{ansi-format text=this.char.custom.hunting}}}</td>
            <td>{{{ansi-format text=this.char.custom.healing}}}</td>
            <td>{{{ansi-format text=this.char.custom.explore}}}</td>
        </tr>
        <tr>
            <td>{{{ansi-format text=this.char.custom.song}}}</td>
            <td>{{{ansi-format text=this.char.custom.courtesy}}}</td>
            <td>{{{ansi-format text=this.char.custom.riddle}}}</td>
        </tr>
        <tr>
            <td>{{{ansi-format text=this.char.custom.craft}}}</td>
            <td>{{{ansi-format text=this.char.custom.battle}}}</td>
            <td>{{{ansi-format text=this.char.custom.lore}}}</td>
        </tr>
        <tr></tr>
        <tr>
            <th>Virtues</th>
            <td colspan="3">{{{ansi-format text=this.char.custom.virtue}}}</td>
        </tr>
</table>


</div>


<div id="tlr_chargen_gear" class="tab-pane fade">
  <p>
    You can add new wargear using the dropdown menus below.
    
    Equipment choices can be freely changed after character creation during the Fellowship Phase, that is, non-adventuring downtime. Mail armour is not available to all cultures at the start, while hobbits and dwarves also have certain equipment restrictions.
  </p>
</div>