<div id="tlr_chargen_sheet" class="tab-pane fade">

<p>Select your character's attributes from one of the six sets of options below. If you have selected your character's culture for the first time or have just changed it, please refresh the page before proceeding.</p>
    <select onchange={{action (mut this.attributeString) value="target.value"}}>
      {{#each this.char.custom.attribute_options as |attributeoption|}}
        <option value={{attributeoption}} selected={{eq this.attributeString attributeoption}}>{{attributeoption}}</option>
      {{/each}}
    </select>




    <p>Select a favoured skill, available based on your character's culture. If you want to update favoured skill choices later in character creation, please select all three favoured skills.</p>
    <select onchange={{action (mut this.culturalFavouredSkillString) value="target.value"}}>
      {{#each this.char.custom.cultural_favoured_skills_list as |favouredskill|}}
        <option value={{favouredskill}} selected={{eq this.culturalFavouredSkillString favouredskill}}>{{favouredskill}}</option>
      {{/each}}
    </select>

    <p>Select two favoured skills, available based on your character's calling.</p>
    <select onchange={{action (mut this.callingFavouredSkillFirstString) value="target.value"}}>
      {{#each this.char.custom.calling_favoured_skills_list as |favouredskill|}}
        <option value={{favouredskill}} selected={{eq this.callingFavouredSkillFirstString favouredskill}}>{{favouredskill}}</option>
      {{/each}}
    </select>

    <select onchange={{action (mut this.callingFavouredSkillSecondString) value="target.value"}}>
      {{#each this.char.custom.calling_favoured_skills_list as |favouredskill|}}
        <option value={{favouredskill}} selected={{eq this.callingFavouredSkillSecondString favouredskill}}>{{favouredskill}}</option>
      {{/each}}
    </select>

        <p>Select a combat proficiency to start at a rating of 2. You change one combat proficiency, you will need to change the other too, or it will be set to zero.</p>

    <select onchange={{action (mut this.firstCombatProficiencyString) value="target.value"}}>
      {{#each this.char.custom.weapon_proficiencies as |weaponproficiency|}}
        <option value={{weaponproficiency}} selected={{eq this.firstCombatProficiencyString weaponproficiency}}>{{weaponproficiency}}</option>
      {{/each}}
    </select>

    <p>Select a combat proficiency to start at a rating of 1 (please make sure it isn't the same as the first proficiency).</p>

    <select onchange={{action (mut this.secondCombatProficiencyString) value="target.value"}}>
      {{#each this.char.custom.second_weapon_proficiencies as |weaponproficiency|}}
        <option value={{weaponproficiency}} selected={{eq this.secondCombatProficiencyString weaponproficiency}}>{{weaponproficiency}}</option>
      {{/each}}
    </select>


    <p>Select two distinctive features, available based on your character's culture.</p>
    <select onchange={{action (mut this.distinctiveFeatureFirstString) value="target.value"}}>
      {{#each this.char.custom.cultural_distinctive_features as |distinctivefeature|}}
        <option value={{distinctivefeature}} selected={{eq this.distinctiveFeatureFirstString distinctivefeature}}>{{distinctivefeature}}</option>
      {{/each}}
    </select>

    <select onchange={{action (mut this.distinctiveFeatureSecondString) value="target.value"}}>
      {{#each this.char.custom.cultural_distinctive_features as |distinctivefeature|}}
        <option value={{distinctivefeature}} selected={{eq this.distinctiveFeatureSecondString distinctivefeature}}>{{distinctivefeature}}</option>
      {{/each}}
    </select>

    <hr>

    <p>Select a virtue from the list of common virtues.</p>
    <select onchange={{action (mut this.virtueString) value="target.value"}}>
      {{#each this.char.custom.common_virtues as |virtue|}}
        <option value={{virtue}} selected={{eq this.virtueString virtue}}>{{virtue}}</option>
      {{/each}}
    </select>




<p>This is a preview of your character sheet. You will need to refresh the page to see any changes reflected.</p>
<table>
    <tr>
        <th>Attributes</th>
        <td>{{{ansi-format text=this.char.custom.strength}}}</td>
        <td>{{{ansi-format text=this.char.custom.heart}}}</td>
        <td>{{{ansi-format text=this.char.custom.wits}}}</td>
    </tr>
    <tr>
        <th>Derived Statistics</th>
        <td>{{{ansi-format text=this.char.custom.endurance}}}</td>
        <td>{{{ansi-format text=this.char.custom.hope}}}</td>
        <td>{{{ansi-format text=this.char.custom.parry}}}</td>
    </tr>
    
    <tr style="line-height:0.8">
        <th>Skills</th>
        <td>{{{ansi-format text=this.char.custom.awe}}}
            {{{ansi-format text=this.char.custom.athletics}}}
            {{{ansi-format text=this.char.custom.awareness}}}
            {{{ansi-format text=this.char.custom.hunting}}}
            {{{ansi-format text=this.char.custom.song}}}
            {{{ansi-format text=this.char.custom.craft}}}
        </td>
        <td>{{{ansi-format text=this.char.custom.enhearten}}}
            {{{ansi-format text=this.char.custom.travel}}}
            {{{ansi-format text=this.char.custom.insight}}}
            {{{ansi-format text=this.char.custom.healing}}}
            {{{ansi-format text=this.char.custom.courtesy}}}
            {{{ansi-format text=this.char.custom.battle}}}</td>
        <td>{{{ansi-format text=this.char.custom.persuade}}}
            {{{ansi-format text=this.char.custom.stealth}}}
            {{{ansi-format text=this.char.custom.scan}}}
            {{{ansi-format text=this.char.custom.explore}}}
            {{{ansi-format text=this.char.custom.riddle}}}
            {{{ansi-format text=this.char.custom.lore}}}
        </td>
    </tr>
        <tr>
            <th>Favoured Skills</th>
            <td colspan = "3">{{{ansi-format text=this.char.custom.favoured_skills}}}</td>
        </tr>
        <tr>
            <th>Cultural Characteristics</th>
            <td colspan = "3">{{{ansi-format text=this.char.custom.cultural_characteristics}}}</td>
        </tr>
        <tr>
            <th>Distinctive Features</th>
            <td colspan = "3">{{{ansi-format text=this.char.custom.distinctive_features}}}</td>
        </tr>
        <tr>
            <th>Virtues</th>
            <td colspan="3">{{{ansi-format text=this.char.custom.virtue}}}</td>
        </tr>
        <tr style="line-height:1">
            <th>Wargear</th>
            <td colspan="3">{{{ansi-format text=this.char.custom.armour}}}
                {{{ansi-format text=this.char.custom.weapons}}}
                {{{ansi-format text=this.char.custom.shields}}}
                {{{ansi-format text=this.char.custom.protection}}}
            </td>
        </tr>
        <tr>
            <th>Treasure</th>
            <td colspan="3">{{{ansi-format text=this.char.custom.treasure}}}</td>
        </tr>
        <tr>
            <th>Combat Proficiencies</th>
            <td colspan="3">{{{ansi-format text=this.char.custom.combat_proficiency_display}}}</td>
        </tr>
        <tr style="line-height:0.8">
        <th>Conditions</th>
        <td>{{{ansi-format text=this.char.custom.gearload}}}
            {{{ansi-format text=this.char.custom.fatigue}}}
            {{{ansi-format text=this.char.custom.total_load}}}
            {{{ansi-format text=this.char.custom.weary}}}
        </td>
        <td>
            {{{ansi-format text=this.char.custom.shadow}}}
            {{{ansi-format text=this.char.custom.shadow_scars}}}
            {{{ansi-format text=this.char.custom.total_shadow}}}
            {{{ansi-format text=this.char.custom.miserable}}}
        </td>
    </tr>
</table>


</div>


<div id="tlr_chargen_gear" class="tab-pane fade">
  <p>
    You can add new wargear using the dropdown menus below.
    
    Equipment choices can be freely changed after character creation during the Fellowship Phase, that is, non-adventuring downtime. Mail armour is not available to all cultures at the start, while hobbits and dwarves also have certain equipment restrictions.
    You will see changes reflected on your character's sheet after refreshing the page.
  </p>
  <hr>
  <p>Select armour here.</p>
  <select onchange={{action (mut this.armourOptionString) value="target.value"}}>
      {{#each this.char.custom.armour_options as |armouroption|}}
        <option value={{armouroption}} selected={{eq this.armourOptionString armouroption}}>{{armouroption}}</option>
      {{/each}}
    </select>
    <p>Select weapons here.</p>
    <select onchange={{action (mut this.weaponOptionString) value="target.value"}}>
      {{#each this.char.custom.weapon_options as |weaponoption|}}
        <option value={{weaponoption}} selected={{eq this.weaponOptionString weaponoption}}>{{weaponoption}}</option>
      {{/each}}
    </select>
    <p>Select a shield here.</p>
    <select onchange={{action (mut this.shieldOptionString) value="target.value"}}>
      {{#each this.char.custom.shield_options as |shieldoption|}}
        <option value={{shieldoption}} selected={{eq this.shieldOptionString shieldoption}}>{{shieldoption}}</option>
      {{/each}}
    </select>
    <p>If you want to discard any wargear, you can select it from the below list then save the page.</p>
    <select onchange={{action (mut this.wargearDiscardString) value="target.value"}}>
      {{#each this.char.custom.wargear_list as |discardoption|}}
        <option value={{discardoption}} selected={{eq this.wargearDiscardString discardoption}}>{{discardoption}}</option>
      {{/each}}
    </select>
    <hr>
    <p>You start with one Reward to add to an item of wargear. This part of the process is not automated. After you submit your character application, please put in a request to indicate what starting Reward you would like. If unsure, staff can suggest one for you.</p>
</div>

<div id="tlr_starting_experience" class="tab-pane fade">
  <p>You have 15 starting experience points to spend on your character. After character creation, there are two different types of experience: skill points for skills, and adventure points for weapon proficiencies, wisdom and valour.
    <br><br>
    The costs per skill point, at character creation, are as follows:<br>
    From 0 to 1: 1 point<br>
    From 1 to 2: 2 points<br>
    From 2 to 3: 3 points<br>
    From 3 to 4: 5 points
    <br><br>
    The costs per weapon proficiency point, at character creation, are as follows:<br>
    From 0 to 1: 2 points<br>
    From 1 to 2: 4 points<br>
    From 2 to 3: 6 points<br><br>
    A request is generated when you submit your character application. In it, please indicate what you would like to spend the 15 starting experience points on.
  </p>
</div>