<div id="tlr_chargen_sheet" class="tab-pane fade">

<p>Select your attributes from one of the six sets of options below.</p>
<p>{{{ansi-format text=this.char.custom.attributeoptions[0]}}}</p>
    <select onchange={{action (mut this.attributeString) value="attributeoptions"}}>
      {{#each this.char.custom.attributeoptions as |attributeoption|}}
        <option value={{attributeoption}}>{{attributeoption}}</option>
      {{/each}}
    </select>

<table>
    <tr>
        <th>Attributes</th>
        <td>{{{ansi-format text=this.char.custom.strength}}}</td>
        <td>{{{ansi-format text=this.char.custom.heart}}}</td>
        <td>{{{ansi-format text=this.char.custom.wits}}}</td>
    </tr>
    <tr>
        <th>Derived Statistics</th>
        <td>{{{ansi-format text=this.char.custom.endurance}}}</td>
        <td>{{{ansi-format text=this.char.custom.hope}}}</td>
        <td>{{{ansi-format text=this.char.custom.parry}}}</td>
    </tr>
    <tr>
        <th rowspan="6">Skills</th>
        <td>{{{ansi-format text=this.char.custom.awe}}}</td>
        <td>{{{ansi-format text=this.char.custom.enhearten}}}        </td>
        <td>{{{ansi-format text=this.char.custom.persuade}}}</td>
    </tr>
    
    <tr>
            <td>{{{ansi-format text=this.char.custom.athletics}}}</td>
            <td>{{{ansi-format text=this.char.custom.travel}}}</td>
            <td>{{{ansi-format text=this.char.custom.stealth}}}</td>
    </tr>
    
    <tr>
        <td>{{{ansi-format text=this.char.custom.awareness}}}</td>
        <td>{{{ansi-format text=this.char.custom.insight}}}</td>
        <td>{{{ansi-format text=this.char.custom.scan}}}</td>
        </tr>
        <tr>
            <td>{{{ansi-format text=this.char.custom.hunting}}}</td>
            <td>{{{ansi-format text=this.char.custom.healing}}}</td>
            <td>{{{ansi-format text=this.char.custom.explore}}}</td>
        </tr>
        <tr>
            <td>{{{ansi-format text=this.char.custom.song}}}</td>
            <td>{{{ansi-format text=this.char.custom.courtesy}}}</td>
            <td>{{{ansi-format text=this.char.custom.riddle}}}</td>
        </tr>
        <tr>
            <td>{{{ansi-format text=this.char.custom.craft}}}</td>
            <td>{{{ansi-format text=this.char.custom.battle}}}</td>
            <td>{{{ansi-format text=this.char.custom.lore}}}</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="3">{{{ansi-format text=this.char.custom.virtue}}}</td>
        </tr>
</table>


</div>