<li><a href="#" {{action (mut this.selectSkillRoll) true}} class="dropdown-item">Roll Ability</a></li>
<TorRoll @scene={{this.scene}} @destinationType="scene" @abilities={{this.abilities}} @selectSkillRoll={{this.selectSkillRoll}} />

<li><a href="#" {{action (mut this.selectCombatRoll) true}} class="dropdown-item">Combat Rolls</a></li>
<TorCombat @scene={{this.scene}} @destinationType="scene" @torcombatabilities={{this.custom.torcombatabilities}} @selectCombatRoll={{this.selectCombatRoll}} />


<BsModalSimple @title="Add Combat Roll" @closeTitle="Cancel" @submitTitle="Roll" @size={{null}} @fade={{true}} @open={{this.selectCombatRoll}} @onSubmit={{action "addCombatRoll"}} @onHide={{action (mut this.selectCombatRoll) false}}>

    <p class="hint">Modifiers to rolls should be added in the second row. If a roll is favoured, type F in the favoured box, and if it is ill-favoured, type I.</p>
    

    <p><b>Regular Roll</b></p>
    <p>Select an ability, or type one in the box.</p>
    <select onchange={{action (mut this.rollString) value="target.value"}}>
      {{#each this.custom.torcombatabilities as |ability|}}
        <option value={{ability}}>{{ability}}</option>
      {{/each}}
    </select>
    <Input @type="text" size={{25}} id="rollString" @enter={{action "addCombatRoll"}} @value={{this.rollString}} />

    
   <hr>
    <p><b>Roll for Another PC</b></p>
    
    <p>
      Character: <Input @type="text" size={{15}} id="pcRollName" @enter={{action "addCombatRoll"}} @value={{this.pcRollName}} /> 
      Ability: <Input @type="text" size={{15}} id="pcRollSkill" @enter={{action "addCombatRoll"}} @value={{this.pcRollSkill}} /><br>
    </p>

    <hr>
    <p>The below fields are for various roll modifiers. Favoured skills and the weary and miserable conditions are automatically accounted for, and only need to be entered manually if they are being overriden for some reason.</p>
    <p>Modifiers: <Input @type="text" size={{2}} id="modifierString" @enter={{action "addCombatRoll"}} @value={{this.modifierString}} />
    Favoured or Ill-favoured (F, I or N for neither): <Input @type="text" size={{2}} id="favouredString" @enter={{action "addCombatRoll"}} @value={{this.favouredString}} /></p>
    <p>Weary (Yes or No): <Input @type="text" size={{2}} id="wearyString" @enter={{action "addCombatRoll"}} @value={{this.wearyString}} /></p>
    <p>Miserable (Yes or No): <Input @type="text" size={{2}} id="miserableString" @enter={{action "addCombatRoll"}} @value={{this.miserableString}} /></p>
    <p>Alternative TN: <Input @type="text" size={{2}} id="alternativeTNString" @enter={{action "addCombatRoll"}} @value={{this.alternativeTNString}} /></p>
          
  </BsModalSimple>