<li><a href="#" {{action (mut this.selectSkillRoll) true}} class="dropdown-item">Roll Ability</a></li>
<TorRoll @scene={{this.scene}} @destinationType="scene" @abilities={{this.abilities}} @selectSkillRoll={{this.selectSkillRoll}} />

<li><a href="#" {{action (mut this.selectCombatRoll) true}} class="dropdown-item">Combat Rolls</a></li>
<TorCombat @scene={{this.scene}} @destinationType="scene" @torcombatabilities={{this.torcombatabilities}} @selectCombatRoll={{this.selectCombatRoll}} />