<div id="tlr_sheet" class="tab-pane fade">

<table>
    <tr>
        <th>Attributes</th>
        <td>{{{ansi-format text=this.char.custom.strength}}}</td>
        <td>{{{ansi-format text=this.char.custom.heart}}}</td>
        <td>{{{ansi-format text=this.char.custom.wits}}}</td>
    </tr>
    <tr>
        <th>Derived Statistics</th>
        <td>{{{ansi-format text=this.char.custom.endurance}}}</td>
        <td>{{{ansi-format text=this.char.custom.hope}}}</td>
        <td>{{{ansi-format text=this.char.custom.parry}}}</td>
    </tr>
    <tr style="line-height:1">
        <th>Conditions</th>
        <td>{{{ansi-format text=this.char.custom.gearload}}}
            {{{ansi-format text=this.char.custom.fatigue}}}
            {{{ansi-format text=this.char.custom.total_load}}}
            {{{ansi-format text=this.char.custom.weary}}}
        </td>
        <td>
            {{{ansi-format text=this.char.custom.shadow}}}
            {{{ansi-format text=this.char.custom.shadow_scars}}}
            {{{ansi-format text=this.char.custom.total_shadow}}}
            {{{ansi-format text=this.char.custom.miserable}}}
        </td>
    </tr>
    <tr style="line-height:1">
        <th>Skills</th>
        <td>{{{ansi-format text=this.char.custom.awe}}}
            {{{ansi-format text=this.char.custom.athletics}}}
            {{{ansi-format text=this.char.custom.awareness}}}
            {{{ansi-format text=this.char.custom.hunting}}}
            {{{ansi-format text=this.char.custom.song}}}
            {{{ansi-format text=this.char.custom.craft}}}
        </td>
        <td>{{{ansi-format text=this.char.custom.enhearten}}}
            {{{ansi-format text=this.char.custom.travel}}}
            {{{ansi-format text=this.char.custom.insight}}}
            {{{ansi-format text=this.char.custom.healing}}}
            {{{ansi-format text=this.char.custom.courtesy}}}
            {{{ansi-format text=this.char.custom.battle}}}</td>
        <td>{{{ansi-format text=this.char.custom.persuade}}}
            {{{ansi-format text=this.char.custom.stealth}}}
            {{{ansi-format text=this.char.custom.scan}}}
            {{{ansi-format text=this.char.custom.explore}}}
            {{{ansi-format text=this.char.custom.riddle}}}
            {{{ansi-format text=this.char.custom.lore}}}
        </td>
    </tr>
        <tr>
            <th>Favoured Skills</th>
            <td colspan = "3">{{{ansi-format text=this.char.custom.favoured_skills}}}</td>
        </tr>
        <tr>
            <th>Cultural Characteristics</th>
            <td colspan = "3">{{{ansi-format text=this.char.custom.cultural_characteristics}}}</td>
        </tr>
        <tr>
            <th>Distinctive Features</th>
            <td colspan = "3">{{{ansi-format text=this.char.custom.distinctive_features}}}</td>
        </tr>
        <tr>
            <th>Virtues</th>
            <td colspan="3">{{{ansi-format text=this.char.custom.virtue}}}</td>
        </tr>
        <tr style="line-height:1">
            <th>Wargear</th>
            <td colspan="3">{{{ansi-format text=this.char.custom.armour}}}
                {{{ansi-format text=this.char.custom.weapons}}}
                {{{ansi-format text=this.char.custom.shields}}}
                {{{ansi-format text=this.char.custom.protection}}}
            </td>
        </tr>
        <tr>
            <th>Combat Proficiencies</th>
            <td colspan="3">{{{ansi-format text=this.char.custom.combat_proficiency_display}}}</td>
        </tr>
</table>


</div>