<div id="tlr_sheet" class="tab-pane fade">

<table>
    <tr>
        <th>Attributes</th>
        <td>{{{ansi-format text=this.char.custom.strength}}}</td>
        <td>{{{ansi-format text=this.char.custom.heart}}}</td>
        <td>{{{ansi-format text=this.char.custom.wits}}}</td>
    </tr>
    <tr>
        <th>Derived Statistics</th>
        <td>{{{ansi-format text=this.char.custom.endurance}}}</td>
        <td>{{{ansi-format text=this.char.custom.hope}}}</td>
        <td>{{{ansi-format text=this.char.custom.parry}}}</td>
    </tr>
    <tr>
        <th rowspan="6">Skills</th>
        <td>{{{ansi-format text=this.char.custom.awe}}}</td>
        <td>{{{ansi-format text=this.char.custom.enhearten}}}        </td>
        <td>{{{ansi-format text=this.char.custom.persuade}}}</td>
    </tr>
    
    <tr>
            <td>{{{ansi-format text=this.char.custom.athletics}}}</td>
            <td>{{{ansi-format text=this.char.custom.travel}}}</td>
            <td>{{{ansi-format text=this.char.custom.stealth}}}</td>
    </tr>
    
    <tr>
        <td>{{{ansi-format text=this.char.custom.awareness}}}</td>
        <td>{{{ansi-format text=this.char.custom.insight}}}</td>
        <td>{{{ansi-format text=this.char.custom.scan}}}</td>
        </tr>
        <tr>
            <td>{{{ansi-format text=this.char.custom.hunting}}}</td>
            <td>{{{ansi-format text=this.char.custom.healing}}}</td>
            <td>{{{ansi-format text=this.char.custom.explore}}}</td>
        </tr>
        <tr>
            <td>{{{ansi-format text=this.char.custom.song}}}</td>
            <td>{{{ansi-format text=this.char.custom.courtesy}}}</td>
            <td>{{{ansi-format text=this.char.custom.riddle}}}</td>
        </tr>
        <tr>
            <td>{{{ansi-format text=this.char.custom.craft}}}</td>
            <td>{{{ansi-format text=this.char.custom.battle}}}</td>
            <td>{{{ansi-format text=this.char.custom.lore}}}</td>
        </tr>
        <tr>
            <th>Favoured Skills</th>
            <td colspan = "3">{{{ansi-format text=this.char.custom.favoured_skills}}}</td>
        </tr>
        <tr>
            <th>Cultural Characteristics</th>
            <td colspan = "3">{{{ansi-format text=this.char.custom.cultural_characteristics}}}</td>
        </tr>
        <tr>
            <th>Distinctive Features</th>
            <td colspan = "3">{{{ansi-format text=this.char.custom.distinctive_features}}}</td>
        </tr>
        <tr>
            <th>Virtues</th>
            <td colspan="3">{{{ansi-format text=this.char.custom.virtue}}}</td>
        </tr>
        <tr>
            <th>Wargear</th>
            <td colspan="3">{{{ansi-format text=this.char.custom.armour}}}</td>
        </tr>
        <tr>
            <th>Combat Proficiencies</th>
            <td colspan="3">{{{ansi-format text=this.char.custom.combat_proficiency_display}}}</td>
        </tr>
</table>


</div>