<BsModalSimple @title="Add Combat Roll" @closeTitle="Cancel" @submitTitle="Roll" @size={{null}} @fade={{true}} @open={{this.selectCombatRoll}} @onSubmit={{action "addCombatRoll"}} @onHide={{action (mut this.selectCombatRoll) false}}>

    

    <p><b>Regular Roll</b></p>
    <p>Select an adversary to attack from the dropdown list. The attack will use your currently wielded weapon.</p>
    <select onchange={{action (mut this.targetAdversaryString) value="target.value"}}>
      {{#each this.toradversaries as |adversary|}}
        <option value={{adversary}}>{{adversary}}</option>
      {{/each}}
    </select>
    <Input @type="text" size={{25}} id="targetAdversaryString" @enter={{action "addCombatRoll"}} @value={{this.targetAdversaryString}} />

    
   <hr>
    <p><b>Roll for Another PC</b></p>
    
    <p>
      Character: <Input @type="text" size={{15}} id="pcRollName" @enter={{action "addCombatRoll"}} @value={{this.pcRollName}} /> 
    </p>

    <hr>
    <p>The below fields are for various roll modifiers. Favoured skills and the weary and miserable conditions are automatically accounted for, and only need to be entered manually if they are being overriden for some reason.</p>
    <p>Modifiers: <Input @type="text" size={{2}} id="modifierString" @enter={{action "addCombatRoll"}} @value={{this.modifierString}} />
    Favoured or Ill-favoured (F, I or N for neither): <Input @type="text" size={{2}} id="favouredString" @enter={{action "addCombatRoll"}} @value={{this.favouredString}} /></p>
    <p>Weary (Yes or No): <Input @type="text" size={{2}} id="wearyString" @enter={{action "addCombatRoll"}} @value={{this.wearyString}} /></p>
    <p>Miserable (Yes or No): <Input @type="text" size={{2}} id="miserableString" @enter={{action "addCombatRoll"}} @value={{this.miserableString}} /></p>
    <p>Alternative TN: <Input @type="text" size={{2}} id="alternativeTNString" @enter={{action "addCombatRoll"}} @value={{this.alternativeTNString}} /></p>


          
  </BsModalSimple>